/node_modules
/public/hot
/public/storage
/public/js/app.js
/storage/*.key
laravel-echo-server.lock
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/bootstrap/cache/config.php
composer.lock
package-lock.json
sslCert.crt
sslKey.key
